//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

doctype html

div.wrapper(ng-controller="MetricsController", ng-init="section='metrics-team'")
    tg-project-menu

    main.main.metrics

        section.metrics-content

            //- Metrics dashboard - Team
            div.metrics-dashboard

                div.loading-container(ng-if="metricsView.loading")
                    div.spinner
                    p(translate="METRICS.LOADING")

                div.error-message(ng-if="metricsView.error && !metricsView.loading")
                    div.alert.alert-error
                        i.icon.icon-error
                        p(translate="{{ metricsView.error }}")
                        button.button.small(ng-click="reloadMetrics()", translate="METRICS.RETRY")

                div.metrics-body(ng-if="metricsView.data && !metricsView.loading")

                    h2.section-title(translate="METRICS.TEAM_METRICS_TITLE")

                    div.team-subtabs
                        button.team-subtab(type="button", ng-class="{'active': metricsView.teamSubTab === 'overview'}", ng-click="setTeamSubTab('overview')")
                            span(translate="METRICS.TEAM_TABS.OVERVIEW")
                        button.team-subtab(type="button", ng-class="{'active': metricsView.teamSubTab === 'historical'}", ng-click="setTeamSubTab('historical')")
                            span(translate="METRICS.TEAM_TABS.HISTORICAL")

                    div.team-tab-panels(ng-switch="metricsView.teamSubTab")
                        div.team-overview-panel(ng-switch-when="overview")
                            
                            //- Students Overall Radar Chart and Closed Tasks comparison
                            div.team-section(ng-if="metricsView.data.studentsOverallRadar || metricsView.data.studentsClosedTasksBar")
                                h3(translate="METRICS.STUDENTS_OVERALL")
                                div.team-comparison-grid
                                    div.team-chart-container(ng-if="metricsView.teamOverview.filteredRadar && metricsView.teamOverview.filteredRadar.datasets.length > 0")
                                        h4.chart-title(translate="METRICS.TEAM_RADAR_BREAKDOWN")
                                        tg-radar-chart(data="metricsView.teamOverview.filteredRadar")
                                    div.team-chart-container(ng-if="metricsView.teamOverview.filteredClosedTasks && metricsView.teamOverview.filteredClosedTasks.labels && metricsView.teamOverview.filteredClosedTasks.labels.length > 0")
                                        h4.chart-title(translate="METRICS.CLOSED_TASKS_COMPARISON_TITLE")
                                        tg-bar-chart(data="metricsView.teamOverview.filteredClosedTasks")
                                div.team-user-filter(ng-if="metricsView.teamOverview.uiUsers.length > 0")
                                    div.filter-header
                                        div.filter-info
                                            span.filter-title(translate="METRICS.TEAM_USER_FILTER_TITLE")
                                            span.filter-count {{ metricsView.teamOverview.activeCount }} / {{ metricsView.teamOverview.uiUsers.length }}
                                        button.team-user-reset(type="button", ng-click="resetTeamOverviewUsers()", ng-disabled="metricsView.teamOverview.activeCount === metricsView.teamOverview.uiUsers.length")
                                            span(translate="METRICS.TEAM_USER_FILTER_RESET")
                                    div.filter-chips
                                        button.team-user-chip(type="button", ng-repeat="user in metricsView.teamOverview.uiUsers track by user.username", ng-click="toggleTeamOverviewUser(user.username)", ng-class="{'inactive': !metricsView.teamOverview.activeUsers[user.username]}")
                                            span.user-color(style="background-color: {{ user.color }}; border-color: {{ user.borderColor }};")
                                            span {{ user.displayName }}

                            
                            div.team-section(ng-if="metricsView.data.teamMetricGroups && metricsView.data.teamMetricGroups.length > 0")
                                h3(translate="METRICS.TEAM_METRICS_TITLE")
                                div.team-metrics-groups
                                    div.metric-group(ng-repeat="group in metricsView.data.teamMetricGroups")
                                        h4.group-title {{ group.label }}
                                        div.project-metrics-grid
                                            div.project-metric-card(ng-repeat="metric in group.metrics track by metric.id")
                                                div.project-metric-header
                                                    h3.metric-name {{ metric.label }}
                                                div.project-metric-gauge
                                                    div.project-metric-body
                                                        div.project-metric-chart
                                                            tg-speedometer-chart(
                                                                value="metric.ratio"
                                                                raw-value="metric.ratio"
                                                                max-value="1"
                                                                label="{{ metric.label }}"
                                                                metric-id="{{ metric.id }}"
                                                                color="metric.categoryColor"
                                                                palette="metric.categorySegments"
                                                            )
                                                        div.project-metric-insights
                                                            div.metric-value-wrapper
                                                                span.metric-value {{ metric.formattedRatio }}
                                                            p.metric-description(ng-if="metric.description") {{ metric.description }}

                            div.team-section(ng-if="metricsView.data.metricsCategories && Object.keys(metricsView.data.metricsCategories).length > 0")
                                h3(translate="METRICS.METRICS_CATEGORIES")
                                ul.key-value-list
                                    li(ng-repeat="(category, value) in metricsView.data.metricsCategories")
                                        span.key {{ category }}
                                        span.value {{ value | json }}

                            div.team-section(ng-if="metricsView.data.hours && Object.keys(metricsView.data.hours).length > 0")
                                    h3(translate="METRICS.STUDENT_HOURS")
                                    tg-pie-chart(data="metricsView.data.hoursChart")

                            div.team-section(ng-if="metricsView.data.lastReport && metricsView.data.lastReport.lastEvaluation")
                                h3(translate="METRICS.LAST_EVALUATION_TITLE")
                                p
                                    span(translate="METRICS.LAST_EVALUATION_AT", translate-values="{date: (metricsView.data.lastReport.lastEvaluation | tgLocalizedDate:'medium')}")
                                div.last-report
                                    pre {{ metricsView.data.lastReport.report || (metricsView.data.lastReport | json) }}

                            div.no-data(ng-if="(!metricsView.data.metricsCategories || Object.keys(metricsView.data.metricsCategories).length === 0) && (!metricsView.data.hours || Object.keys(metricsView.data.hours).length === 0) && (!metricsView.data.lastReport || !metricsView.data.lastReport.lastEvaluation)")
                                div.empty-state
                                    i.icon.icon-info
                                    p(translate="METRICS.NO_DATA")

                        div.team-historical-panel(ng-switch-when="historical")
                            div.team-historical-header
                                h3(translate="METRICS.TEAM_HISTORICAL_TITLE")
                                p.description(translate="METRICS.TEAM_HISTORICAL_DESCRIPTION")

                            div.team-historical-filters
                                div.filter-group.date-group
                                    label.filter-label(for="teamHistoricalDateFrom", translate="METRICS.TEAM_HISTORICAL_DATE_FROM")
                                    input#teamHistoricalDateFrom(type="date", ng-model="metricsView.teamHistoricalFilters.dateFrom")
                                div.filter-group.date-group
                                    label.filter-label(for="teamHistoricalDateTo", translate="METRICS.TEAM_HISTORICAL_DATE_TO")
                                    input#teamHistoricalDateTo(type="date", ng-model="metricsView.teamHistoricalFilters.dateTo")
                                div.filter-group.user-filter
                                    label.filter-label(for="teamHistoricalUser", translate="METRICS.TEAM_HISTORICAL_USER_FILTER")
                                    select#teamHistoricalUser(
                                        ng-model="metricsView.teamHistoricalFilters.user"
                                        ng-change="applyTeamHistoricalFilters()"
                                        ng-options="option.id as (option.translate ? (option.label | translate) : option.label) for option in metricsView.teamHistoricalUserOptions track by option.id"
                                    )
                                div.filter-group.metric-filter
                                    label.filter-label(for="teamHistoricalMetric", translate="METRICS.TEAM_HISTORICAL_METRIC_FILTER")
                                    select#teamHistoricalMetric(
                                        ng-model="metricsView.teamHistoricalFilters.metric"
                                        ng-change="applyTeamHistoricalFilters()"
                                        ng-options="metric.id as (metric.label | translate) for metric in metricsView.teamHistoricalMetricOptions track by metric.id"
                                    )
                                div.filter-group.filter-actions
                                    button.filter-action(type="button", ng-click="clearTeamHistoricalDates()", ng-disabled="!metricsView.teamHistoricalFilters.dateFrom && !metricsView.teamHistoricalFilters.dateTo", translate="METRICS.TEAM_HISTORICAL_CLEAR_DATES")

                            div.team-historical-grid(ng-if="metricsView.teamHistoricalCharts.length > 0")
                                div.team-historical-card(ng-repeat="historicalChart in metricsView.teamHistoricalCharts track by historicalChart.id")
                                    tg-area-chart(data="historicalChart.chartData")

                            div.team-historical-empty(ng-if="metricsView.teamHistoricalCharts.length === 0")
                                div.empty-state
                                    i.icon.icon-info
                                    p(translate="METRICS.TEAM_HISTORICAL_NO_DATA")
