//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

doctype html

div.wrapper
    tg-project-menu

    main.main.metrics

        section.metrics-content

            //- Metrics dashboard - Project
            div.metrics-dashboard

                div.loading-container(ng-if="metricsView.loading")
                    div.spinner
                    p(translate="METRICS.LOADING")

                div.error-message(ng-if="metricsView.error && !metricsView.loading")
                    div.alert.alert-error
                        i.icon.icon-error
                        p(translate="{{ metricsView.error }}")
                        button.button.small(ng-click="reloadMetrics()", translate="METRICS.RETRY")

                div.metrics-body(ng-if="metricsView.data && !metricsView.loading")

                    h2.section-title(translate="METRICS.PROJECT_METRICS_TITLE")

                    div.project-subtabs
                        button.project-subtab(type="button", ng-class="{'active': metricsView.projectSubTab === 'overview'}", ng-click="setProjectSubTab('overview')")
                            span(translate="METRICS.PROJECT_TABS.OVERVIEW")
                        button.project-subtab(type="button", ng-class="{'active': metricsView.projectSubTab === 'historical'}", ng-click="setProjectSubTab('historical')")
                            span(translate="METRICS.PROJECT_TABS.HISTORICAL")

                    div.project-tab-panels(ng-switch="metricsView.projectSubTab")
                        div.project-overview-panel(ng-switch-when="overview")
                            div.project-metrics-grid(ng-if="metricsView.data.projectMetrics && metricsView.data.projectMetrics.length > 0")
                                div.project-metric-card(ng-repeat="metric in metricsView.data.projectMetrics track by metric.id")
                                    div.project-metric-header
                                        h3.metric-name {{ metric.name }}
                                    div.project-metric-gauge
                                        div.project-metric-body
                                            div.project-metric-chart
                                                tg-speedometer-chart(
                                                    value="metric.ratioValue || (metric.absoluteValue / 100)"
                                                    raw-value="metric.ratioValue || (metric.absoluteValue / 100)"
                                                    max-value="1"
                                                    label="{{ metric.name }}"
                                                    metric-id="{{ metric.id }}"
                                                    color="metric.categoryColor"
                                                    palette="metric.categorySegments"
                                                )
                                            div.project-metric-insights
                                                div.metric-value-wrapper
                                                    span.metric-value {{ metric.ratioDisplayValuePrecise || metric.ratioValue }}
                                                p.metric-description(ng-if="metric.description") {{ metric.description }}

                            div.no-data(ng-if="!metricsView.data.projectMetrics || metricsView.data.projectMetrics.length === 0")
                                div.empty-state
                                    i.icon.icon-info
                                    p(translate="METRICS.NO_DATA")

                        div.project-historical-panel(ng-switch-when="historical")
                            div.project-historical-header
                                h3(translate="METRICS.PROJECT_HISTORICAL_TITLE")
                                p.description(translate="METRICS.PROJECT_HISTORICAL_DESCRIPTION")

                            div.project-historical-filters.team-historical-filters
                                //- Sprint filter
                                div.filter-group.sprint-filter
                                    label.filter-label(for="projectHistoricalSprint", translate="METRICS.SPRINT_FILTER_LABEL")
                                    select#projectHistoricalSprint(
                                        ng-model="metricsView.projectHistoricalFilters.sprint"
                                        ng-change="applySprintFilter(metricsView.projectHistoricalFilters)"
                                        ng-options="option.id as (option.translate ? (option.name | translate) : option.name) for option in metricsView.sprintOptions track by option.id"
                                    )
                                //- Custom date range
                                div.filter-group.date-group
                                    label.filter-label(for="projectHistoricalDateFrom", translate="METRICS.PROJECT_HISTORICAL_DATE_FROM")
                                    input#projectHistoricalDateFrom(
                                        type="date"
                                        ng-model="metricsView.projectHistoricalFilters.dateFrom"
                                        ng-change="metricsView.projectHistoricalFilters.preset = null"
                                    )
                                div.filter-group.date-group
                                    label.filter-label(for="projectHistoricalDateTo", translate="METRICS.PROJECT_HISTORICAL_DATE_TO")
                                    input#projectHistoricalDateTo(
                                        type="date"
                                        ng-model="metricsView.projectHistoricalFilters.dateTo"
                                        ng-change="metricsView.projectHistoricalFilters.preset = null"
                                    )
                                div.filter-group.filter-actions
                                    button.filter-action(
                                        type="button"
                                        ng-click="clearProjectHistoricalDates()"
                                        ng-disabled="!metricsView.projectHistoricalFilters.dateFrom && !metricsView.projectHistoricalFilters.dateTo && !metricsView.projectHistoricalFilters.preset"
                                        translate="METRICS.PROJECT_HISTORICAL_CLEAR_DATES"
                                    )

                            div.project-historical-grid(ng-if="metricsView.projectHistoricalCharts.length > 0")
                                div.project-historical-card(ng-repeat="chart in metricsView.projectHistoricalCharts track by chart.id")
                                    tg-area-chart(data="chart.chartData")

                            div.project-historical-empty(ng-if="metricsView.projectHistoricalCharts.length === 0")
                                div.empty-state
                                    i.icon.icon-info
                                    p(translate="METRICS.PROJECT_HISTORICAL_NO_DATA")
