//- Sergio Utrilla added - Instructor Dashboard: vista de detalle de un grupo con métricas y tabla de estudiantes
div.wrapper
    section.main.instructor-group
        div.error-message(ng-if="view.error && !view.loading")
            div.alert.alert-error
                p(translate="{{ view.error }}")

        div.group-dashboard(ng-if="!view.loading && !view.error")
            header.group-header
                div.header-left
                    nav.breadcrumb
                        a(tg-nav="instructor-home") {{ 'INSTRUCTOR.SECTION_NAME' | translate }}
                        span.breadcrumb-sep  ›
                        a(tg-nav="instructor-edition:editionId=editionId") {{ view.edition.key }}
                        span.breadcrumb-sep  ›
                        span {{ view.group.group_code }}
                    h1.group-title {{ view.group.group_code }}
                        span.group-title-name  · {{ view.group.display_name }}
                div.header-actions
                    button.btn-small(
                        variant="secondary"
                        ng-click="refresh()"
                        ng-disabled="view.refreshing"
                    )
                        span(ng-if="!view.refreshing" translate="INSTRUCTOR.REFRESH")
                        span(ng-if="view.refreshing" translate="INSTRUCTOR.REFRESHING")

            //- Project link
            div.group-project-link(ng-if="view.group.project_slug")
                a(href="/project/{{ view.group.project_slug }}/metrics/project")
                    span(translate="INSTRUCTOR.VIEW_PROJECT")
                    span &nbsp;{{ view.group.project_name }}

            //- New project notice
            div.group-new-project-notice(ng-if="view.group.is_new_project")
                p(translate="INSTRUCTOR.GROUP_NEW_PROJECT")

            //- Project metrics (speedometers)
            div.group-metrics-section(ng-if="!view.group.is_new_project && view.projectMetrics.length > 0")
                h2(translate="INSTRUCTOR.PROJECT_METRICS_TITLE")
                div.group-metrics-gauges-detail
                    div.metric-gauge-item-detail(ng-repeat="metric in view.projectMetrics track by metric.id")
                        tg-speedometer-chart(
                            value="metric.value"
                            raw-value="metric.value"
                            max-value="1"
                            label="{{ metric.name }}"
                            metric-key="{{ metric.id }}"
                            palette="metric.palette"
                        )
                        span.gauge-label {{ metric.name }}

            //- Students table (only when drilldown is enabled in settings)
            div.students-section(ng-if="view.drilldownAllowed")
                h2(translate="INSTRUCTOR.STUDENTS_TITLE")

                div.no-students(ng-if="!view.hasStudents")
                    p(translate="INSTRUCTOR.NO_STUDENTS")

                table.students-table(ng-if="view.hasStudents")
                    thead
                        tr
                            th(translate="INSTRUCTOR.STUDENT_NAME")
                            th(ng-repeat="metric in view.students[0].metrics track by metric.id"
                               ng-if="metric.classification === 'team'") {{ metric.name }}
                    tbody
                        tr(ng-repeat="student in view.students track by student.username")
                            td.student-name {{ student.displayName || student.name || student.username }}
                            td(ng-repeat="metric in student.metrics track by metric.id"
                               ng-if="metric.classification === 'team'") {{ metric.value | number:2 }}
